@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

*::-webkit-scrollbar{
    display: none;
}


body{
    padding: 40px;
    background: rgb(255, 255, 255);
}
header{
    width: 100%;
    height: 55vh;
    background: #000;
    display: flex;
    border-radius: 15px;
    max-height: 390px;
}

header .contentImg{
    width: 30%;
    height: 100%;
    flex-grow: 1;
}
header div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
header .name{
    width: 70%;
    height: 100%;
    flex-grow: 2;
    color: #fff;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

header .name h1{
    font-size: 4.5vw;
}
header .name h3{
    font-size: 2.5vw;
    color: rgba(255, 255, 255, 0.795);
}

.wrapper {
    width: 50%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
    bottom: 0;
}

.wrapper .iconsocial {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.wrapper .iconsocial i{
    color: #fff;
    transition: .4s linear;
    font-size: 22px;
}

.wrapper .iconsocial::before,
.wrapper .iconsocial::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}
.wrapper .iconsocial:hover::before {
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
    color: #fff;
}
.wrapper .iconsocial:hover::after {
    border-radius: 50%;
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg) ;
    color: #fff;
}

.wrapper .tooltip {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.35 cubic-bezier (0.68, -0.55, 9.265, 1.55);
}
.wrapper .iconsocial:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    text-align: center;
}

main{
    width: 100%;
    height: 100%;
    position: relative;
}

aside{
    position: relative;
    width: 30%;
    padding: 5px;
    border-radius: 15px;
}
.level{
    display: flex;
    gap: 2px;
    margin-bottom: 5px;
}

.skills{
    margin: 15px 0px;
    padding-left: 5px;
}
aside h4{
    padding: 5px;
    font-size: 17px;
}
aside p{
    padding: 5px;
    color: rgb(43, 43, 43);
}

.have{
    width: 40px;
    height: 5px;
    background: rgb(15,15,15);
    border-radius: 15px;
}

.limit{
    width: 40px;
    height: 5px;
    background: rgb(122, 122, 122);
    border-radius: 15px;
}
.social b{
    padding-left: 15px;
    margin-bottom: 7px;
}

.social a{
    text-decoration: none;
    color: rgb(43, 43, 43);
}
.social a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
}
.description{
    position: absolute;
    width: 70%;
    height: 100%;
    padding: 25px;
    border-radius: 15px;
    top: 0;
    right: 0;
}

.description> div{
    margin-bottom: 30px;
    padding:0 40px;
}
.description> div h3{
    margin-bottom: 5px;
    font-size: 30px;
}
.description> div> p{
    padding: 20px 0;
    color: rgb(43, 43, 43);
    line-height: 25px;
    text-align: justify;
}

.education div .institucion{
    padding-bottom: 15px;
    font-weight: 900;
}

.dis,.hr-res{
    display: none;
}

/*responsive*/

@media screen and (max-width:984px) {
    aside{
        width: 35%;

    }
    .description{
        width: 65%;
        padding: 0;
    }
}

@media screen and (max-width:855px) {
    .dis{
        display: block;
    }
    .social b{
        padding-left: 0;
    }
}
@media screen and (max-width:799px) {
    .description> div{
        padding: 0 10px;
    }
}
@media screen and (max-width:740px) {
    body{
        padding: 40px 0;
    }
    header{
        border-radius: 0px;
    }

    header div img{
        border-radius: 0px;
    }
    header .name{
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }
    .wrapper{
        left: 0;
    }
}
@media screen and (max-width:670px) {
    header .contentImg{
        width: 40%;
    }
    header .name{
        width: 60%;
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:595px) {
    body{
        padding: 0;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    aside{
        order: 2;
        width: 100%;
    }

    .description{
        position: relative;
        width: 100%;
    }

    .hr-res{
        display: block;
        width: 90%;
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width:465px) {
    .wrapper{
        justify-content: center;
        width: 100%;
    }
    .wrapper .iconsocial{
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width:320px) {
    .wrapper .iconsocial{
        width: 35px;
        height: 30px;
    }
}






