@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
*::-webkit-scrollbar{
    display: none;
}
body{
    background: rgb(255, 255, 255);
    height: 100%;
    position: relative;
}

.backminipro{
    position: absolute;
    z-index: 199;
    width: 100%;
    height: 100%;
    background: #000;
}

.backpro{
    position: absolute;
    z-index: 300;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000, transparent);
}

.backpro2{
    position: absolute;
    z-index: 500;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.img-back{
    position:fixed;
    z-index: 200;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

header{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    /* animation: expand 2s 1 both  cubic-bezier(0.79,0.14,0.15,0.86); */
    background-attachment: fixed;
    overflow: hidden;
}

@keyframes expand {
    0%{
        height: 55vh;
    }100%{
        height: 100vh;
    }
}
header .contentImg{
    width: 30%;
    height: 100%;
    flex-grow: 1;
    border-radius: 50%;
}

/* .img-an{
    animation: imgshadow 2s infinite alternate forwards;
} */

@keyframes imgshadow{
    0%{
        filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
    }100%{
        filter: drop-shadow(0 0 17px rgb(45, 46, 102));
    }
}

.appear{
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    animation: letterAppear 1s 1 steps(30)
}

@keyframes letterAppear {
    0% {
        width:0;
        white-space: nowrap;
    }
}

header div img{
    object-fit: cover;
    width: calc(853px / 3 );
    height: calc(1280px / 4.5 );
    border-radius: 50%;
    position: relative;
    z-index: 1200;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: drop-shadow(0 0 7px rgb(0, 0, 0));
    transition: all 1s;
}
header div img:hover{
    filter: drop-shadow(0 0 20px #000);
}
header .name{
    width: 70%;
    height: 100%;
    flex-grow: 2;
    color: #fff;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 700;
    justify-content: center;
}
header .name h1{
    font-size: 4.5vw;
}
header .name h3{
    font-size: 2.5vw;
    color: rgba(255, 255, 255, 0.795);
}
.wrapper {
    width: 50%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
    bottom: -35px;
    z-index: 700;
}
.wrapper .iconsocial {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 4vw;
    height: 4vw;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.wrapper .iconsocial i{
    color: #fff;
    transition: .4s linear;
    font-size: 22px;
}
.wrapper .iconsocial::before,
.wrapper .iconsocial::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}
.wrapper .iconsocial:hover::before {
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
    color: #fff;
}
.wrapper .iconsocial:hover::after {
    border-radius: 50%;
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg) ;
    color: #fff;
}
.wrapper .tooltip {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.35 cubic-bezier (0.68, -0.55, 9.265, 1.55);
}
.wrapper .iconsocial:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    text-align: center;
}

.buttons{
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 1200;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 20px;
    left: 55px;
    padding-left: 0;
    bottom: 75px;
}
.buttons a{
    text-decoration: none;
}
.buttons a:nth-child(1){
    background: rgb(2, 235, 126);
    color: white;
    padding: 7px 15px;
    border-radius: 15px;
}
.buttons a:nth-child(1):hover{
    background: rgba(0, 0, 255, 0);
    outline: 2px solid rgb(2, 235, 126);
    color: rgb(2, 235, 126);
}
.buttons a:nth-child(2){
    outline: 2px solid rgb(2, 235, 126);
    color: rgb(2, 235, 126);
    padding: 7px 15px;
    border-radius: 15px;
}
.buttons a:nth-child(2):hover{
    background: rgb(2, 235, 126);
    color: white;
}
main{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 600;
    background: rgb(255, 255, 255);
    display: flex;
    padding-bottom: 40px;
}
aside{
    position:relative;
    top: 0;
    width: 30%;
    height: 100%;
    padding: 5px;
    border-radius: 15px;
}

.level{
    display: flex;
    gap: 2px;
    margin-bottom: 5px;
}
.skills{
    margin: 15px 0px 40px;
    padding-left: 5px;
}

.languagues{
    margin-bottom: 45px;
}
.hobbies{
    margin-bottom: 40px;
}
aside h4{
    padding: 5px;
    font-size: 17px;
}
aside p{
    padding: 5px;
    color: rgb(43, 43, 43);
}
.have{
    width: 40px;
    height: 5px;
    background: rgb(15,15,15);
    border-radius: 15px;
}
.limit{
    width: 40px;
    height: 5px;
    background: rgb(122, 122, 122);
    border-radius: 15px;
}

.none{
    display: none;
}
.social b{
    padding-left: 15px;
    margin-bottom: 10px;
    display: inline-block;
}
.social a{
    text-decoration: none;
    color: rgb(43, 43, 43);
    padding-left: 3px;
}
.social a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
}
.description{
    position: relative;
    width: 70%;
    height: 100%;
    padding: 25px;
    border-radius: 15px;
    top: 0;
    right: 0;
}
.description> div{
    margin-bottom: 30px;
    padding:0 40px;
}
.description> div h3{
    margin-bottom: 5px;
    font-size: 30px;
}
.description> div> p{
    padding: 20px 0;
    color: rgb(43, 43, 43);
    line-height: 25px;
}

.list-desc{
    list-style-image:url(../images/icons/icon-plus.png); 
}
.list-desc li{
    padding: 4px 0px;
}
.list-desc li ul{
    list-style-image: url(../images/icons/icon-menos.png);
}
.sep{
    margin-bottom: 15px;
}
.block360px,.block408px{
    display: none;
}
.Knowledge{
    padding-left: 17px;
}
.education div .institucion, .history div .institucion{
    padding-bottom: 15px;
    font-weight: 900;
}
.dis,.hr-res{
    display: none;
}

.decol{
    color: rgb(53, 53, 53);
}

.spacing-bottom{
    display: block;
    margin-bottom: 30px;
}

.p-justify{
    text-align:justify ;
    padding: 0 7px !important;
    margin-bottom: 20px;
}

.italic-text{
    display: block;
}