/*responsive*/
@media screen and (max-width:984px) {
    aside{
        width: 35%;

    }
    .description{
        width: 65%;
        padding: 0;
    }
}
@media screen and (max-width: 955px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    header .name{
        align-items: center;
        padding-left: 0;
        width: 100%;
    }
    header .name h1{
        font-size: 5.5vw;
        text-align: center;
    }
    header .name h3{
        font-size: 3.5vw;
        text-align: center;
    }

    .wrapper{
        justify-content: center;
        width: 100%;
    }


}
@media screen and (max-width:855px) {
    .dis{
        display: block;
    }
    .social b{
        padding-left: 0;
    }
}


@media screen and (max-width:740px) {
    header{
        border-radius: 0px;
    }

    header .name{
        align-items: center;
        justify-content: center;
    }
    .wrapper{
        left: 0;
    }
}
@media screen and (max-width:715px) {
    .description> div {
        padding: 0  5px 0 40px;
    }
}
@media screen and (max-width:670px) {
    header .contentImg{
        width: 40%;
    }
    header .name{
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:595px) {
    body{
        padding: 0;
    }
    main{
        display: flex;
        flex-direction: column;
    }

    .description{
        position: relative;
        width: 100%;
    }

    .hr-res{
        display: block;
        width: 90%;
        text-align: center;
        margin: auto;
    }
    aside{
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    aside .skills h4{
        text-align: center;
        font-size: 6.5vw;
    }
    aside .skills p{
        text-align: left;
        padding-left: 12%;
        margin-top: 15px;
    }

    .level{
        justify-content: center;
    }
    .have,.limit{
        width: 15%;
    }

    .skills{
        margin-bottom: 60px;
        padding-left: 0;
    }

    .languagues{
        margin-bottom: 60px;
    }

    .languagues h4{
        text-align: center;
        font-size: 5.5vw;
    }
    .languagues p{
        text-align: left;
        padding-left: 12%;
        margin-top: 15px;
    }
    
    .dis{
        display: none;
    }
    .hobbies{
        margin-bottom: 40px;
    }

    .block{
        display: inline-block;
    }

    .himgs{
        width: 50px;
        object-fit: contain;
    }
    .hnai{
        display: flex;
        justify-content:space-between;
        width: 40%;
        margin-bottom: 15px;
    }

    .res-none{
        display: none;
    }

    .mini-footer{
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
    }

    .hobbies h4{
        font-size: 5.5vw;
    }
    .social h4{
        font-size: 5.5vw;
    }
    .hobbies p{
        padding-left: 15px;
        padding-top: 15px;
    }
    .social b{
        padding-left: 15px;
        padding-top: 15px;
    }
    
}

@media screen and (max-width:510px) {
    header .name h1{
        font-size: 7.5vw;
        
    }
    header .name h3{
        font-size: 5.5vw;
    }
}

@media screen and (max-width:490px) {
    .himgs{
        width: 46px;
        object-fit: cover;
    }
    .hnai{
        width: 60%;
    }
}
@media screen and (max-width:440px) {
    .description> .profile {
        padding: 0  0px 0 5px;
    }

    .list-desc{
        padding: 0  5px 0 25px;
    }
}
@media screen and (max-width:408px) {
    .description> .history {
        padding: 0  3px 0 7px;
    }
    
    .description> .education {
        padding: 0  3px 0 12px;
    }
    .block408px{
        display: block;
    }

    .none408px{
        display: none;
    }
}

@media screen and (max-width:400px) {
    header div img{
        width: calc(853px / 3.5 );
        height: calc(1280px / 5 );
    }
    header .contentImg{
        width: 100%;
    }
}

@media screen and (max-width:360px) {
    .description > div h3{
        font-size: 22px;
    }
    .block360px{
        display: block;
    }

    .none360px{
        display: none;
    }
}

@media screen and (max-width:335px) {
    .hnai{
        width: 75%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:320px) {
    .wrapper .iconsocial{
        width: 35px;
        height: 30px;
    }
}